body {
    margin: 0;
}
#board {
	border-collapse: collapse;
    width: 100%;
}
td {
	height: 10px;
    border: 0;
}
.dead {
	background-color:#CBCF80;
}
.wasAlive {
	background-color:#C9CF64;
}
.alive {
	background-color:#6D942E;
}
.menu_active {
    display: none;
}
